# Copy to .env.local and replace with your local values.
VITE_AIRTHINGS_PROXY_API_KEY="your-airthings-proxy-api-key"
VITE_AIRTHINGS_PROXY_BASE_ADDRESS="your-airthings-proxy-base-address"
VITE_AIRTHINGS_PROXY_ADDITIONAL_HEADERS='{"X-Organization-Id":"your-org-id"}'
